* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(./Imagenes/Fondos/pawel-czerwinski-ROpTWGMYNkk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor_principal {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;

}

.caja_fondo {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);

}

.caja_fondo div {
    margin: 100px 40px;
    color: aliceblue;
    transition: all 500ms;
}

.caja_fondo div p,
.caja_fondo div button {
    margin-top: 40px;

}

.caja_fondo h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja_fondo button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja_fondo button:hover {
    background: white;
    color: #46A2FD;

}

.cajalogin-registro {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -200px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);


}

.cajalogin-registro form {
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;


}


.cajalogin-registro form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.cajalogin-registro form input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.cajalogin-registro form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: #fff;
    cursor: pointer;
    outline: none;

}

.cajalogin-registro form p {
    text-align: center;
    padding: 20px 80px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #0b131b;
    color: #fff;
    outline: none;

}


.form_login {
    display: block;
    opacity: 1;


}

.form_registro {
    display: none;
}

/* Responsive */

@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;

    }

    .caja_fondo {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja_fondo div {
        margin: 0px;
        position: absolute;

    }

    .cajalogin-registro {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .cajalogin-registro form {
        position: relative;
    }

}


/*Menu*/

.bodyMenu {
    background-image: url(../Imagenes/Fondos/george-pagan-iii-s-77IdplLv4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.seleccion {
    color: #fff;
}

.caja_fondo2 {
    width: 100%;
    height: 380px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    background-color: rgba(169, 177, 185, 0.5);

}

div .CredArg {
    display: block;
    position: relative;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    transition: 0.5s;
    object-fit: cover;

}

.CredArg:hover {
    transform: scale(1.2);
}


div .Musi {
    display: block;
    position: relative;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    transition: 0.5s;
    object-fit: cover;
}

.Musi:hover {
    transform: scale(1.2);
}


/*Refi- Musi*/
.bodyMusi {
    background-image: url(../Imagenes/Fondos/scott-webb-mslrSX69KvQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.contenedor_principalMusi {
    width: 100%;
    max-width: 800px;
    margin: auto;
    left: 50px;
    top: -100px;
    position: relative;
}

.caja_fondoMusi {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(252, 17, 17, 0.555);

}

.caja_fondoMusi div {
    margin: 100px 40px;
    color: aliceblue;
    transition: all 500ms;
}

.caja_fondoMusi div p,
.caja_fondoMusi div button {
    margin-top: 40px;

}

.caja_fondoMusi h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja_fondoMusi button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja_fondoMusi button:hover {
    background: white;
    color: #a81818;

}

.newCliente {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 280px;
    position: relative;
    top: -650px;
    left: 10px;


}



.newCliente form {
    width: 100%;
    top: 20px;
    height: 700px;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.newCliente form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #a81818;
}

.newCliente form input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.newCliente form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #a81818;
    color: #fff;
    cursor: pointer;
    outline: none;

}

.CalcPlanes {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 180px;
    position: relative;
    top: -600px;
    right: -1130px;



}



.CalcPlanes form {
    width: 100%;
    top: 20px;
    height: 380px;
    padding: 40px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.CalcPlanes form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #a81818;
}

.CalcPlanes form input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.CalcPlanes form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #a81818;
    color: #fff;
    cursor: pointer;
    outline: none;

}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
}

input {
    width: 150px;

}

div {
    margin: .5rem;
    width: 100%;

}

.container {
    display: flex;
}

#formulario {
    width: 100%;
    max-width: 600px;
    right: 360px;

}

#resultado {
    width: 100%;
    max-width: 800px;



}

#resultado li {
    border: 2px solid black;
    display: block;
    right: -260px;

}

#resultado li:hover {
    background-color: brown;
    color: beige;
}

#resultadoSim {
    background-color: #0b131b;
    color: #fff;
    
}

/*---------Cred Arg*---------*/
.bodyCarg {
    background-image: url(../Imagenes/Fondos/ash-edmonds-gcINRBbUxl0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.contenedor_principalMusi {
    width: 100%;
    max-width: 800px;
    margin: auto;
    left: 50px;
    top: -100px;
    position: relative;
}

.caja_fondoCa {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(72, 201, 233, 0.555);

}

.caja_fondoCa div {
    margin: 100px 40px;
    color: aliceblue;
    transition: all 500ms;
}

.caja_fondoCa div p,
.caja_fondoCa div button {
    margin-top: 40px;

}

.caja_fondoCa h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja_fondoCa button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja_fondoCa button:hover {
    background: white;
    color: #46A2FD;

}

.newClienteCa {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 280px;
    position: relative;
    top: -650px;
    left: 10px;


}



.newClienteCa form {
    width: 100%;
    top: 20px;
    height: 700px;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.newClienteCa form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.newClienteCa form input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.newClienteCa form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: #fff;
    cursor: pointer;
    outline: none;

}

.CalcPlanesCa {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 180px;
    position: relative;
    top: -600px;
    right: -1130px;



}



.CalcPlanesCa form {
    width: 100%;
    top: 20px;
    height: 380px;
    padding: 40px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.CalcPlanesCa form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.CalcPlanesCa form input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.CalcPlanesCa form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: #fff;
    cursor: pointer;
    outline: none;

}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
}

input {
    width: 150px;

}

div {
    margin: .5rem;
    width: 100%;

}

.container {
    display: flex;
}

#formulario {
    width: 100%;
    max-width: 600px;
    right: 360px;

}

#resultadoCa {
    width: 100%;
    max-width: 800px;



}

#resultadoCa li {
    border: 2px solid black;
    display: block;
    right: -260px;

}

#resultadoCa li:hover {
    background-color: rgb(97, 165, 211);
    color: beige;
}


#busc {
    color: #fff;
}


#footer {
    color: #fff;
    margin-right: -1000px;
}